@keyframes flash {
    0%,
    40% {
        opacity: 1;
    }

    40%,
    100% {
        opacity: 0;
    }
}

@mixin animate($animation, $duratin, $method, $times) {
    animation: $animation, $duratin, $method, $times;
}
.flash {
    z-index: 1000;
    opacity: 0;
    background-color: white;
    // animation: flash 1s ease-in-out infinite normal none;
}

.text {
    opacity: 0.6;
    color: #fff;
    //text-shadow: 0px 0px 0.5vw #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    font-size: 10vw;
    font-family: "Roboto Mono", monospace;

    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: table;
        text-align: center;
    }
}

.invisible {
    color: transparent;
}

.spray_pivot {
    color: #de0000;
    text-align: center;
}
