@keyframes flash {
    0%,
    40% {
        opacity: 1;
    }

    40%,
    100% {
        opacity: 0;
    }
}

@mixin animate($animation, $duratin, $method, $times) {
    animation: $animation, $duratin, $method, $times;
}

@mixin text() {
    opacity: 0.6;
    color: #fff;

    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}

.flash {
    z-index: 1000;
    opacity: 0;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // animation: flash 1s ease-in-out infinite normal none;
}

.text {
    @include text();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: table;
        text-align: center;
    }
}

.invisible {
    color: transparent;
}

.spray_pivot {
    color: #de0000;
    text-align: center;
}

.pivot {
    @include text();
    display: flex;
    width: 100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pivot-pre {
    flex-basis: 50%;
    text-align: right;
}

.pivot-mid {
    color: #de0000;
}

.pivot-post {
    flex-basis: 50%;
    text-align: left;
}
